<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css\Contacto.css">
    <title>contacto</title>
</head>
<body style="display: flex; flex-direction: column; background-color: #6B5796;">
    <div style="background: #ffffff;">
        <nav>
            <a href="javascript:history.back()" class="atras"><img src="imagen\atras.png" alt="" class="atras"></a>
            <h1 id="titulo">Scröninger’s box</h1>
        </nav>
    </div>
    <div>
        <h1 id="titulo2">Proyecto Semestral Programación 2 (Prototipo y Diseño Web)</h1>
    </div>
    <div style="display: flex; justify-content:center; width:100vw">
        <div id="acercade">
            <p class="parrafo1">
                Profesor: Juan Antonio Zamora
            </p>
            <p class="parrafo1">
                Objetivo: Poner en práctica los conceptos aprendidos en clases con la confección de un prototipo y diseño web funcional ESTÁTICO de un proyecto de desarrollo de sitio web utilizando las herramientas de HTML para la estructura del sitio y CSS para el diseño y estilos.
            </p>
            <p class="parrafo1"> 
                este sitio está creado especificamente para ser una plataforma para subir spoilers de peliculas y series, cuando entras no sabes con lo que te encontrarás, por lo que es ambigüo si te vas o no a spoilear, de ahí su nombre, Scröninger’s box
            </p>
            <p class="parrafo1"> 
                el logo, la paleta de colores, la tipografía y la estructura fueron elegidos el primer día, el logo ha sido creado a partir de dos modelos 3D de un gato de uso libre y una caja cualquiera
            </p>
            <p class="parrafo1"> 
                el contraste, el feedback, la iconografía y el etiquetado de botones y funcionalidades ha sido cuidado al mas minimo detalle.
            </p>
        </div>
    </div>
</body>
</html>
