<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css\Contacto.css">
    <title>contacto</title>
</head>
<body style="display: flex; flex-direction: column; background-color: #6B5796;">
    <div style="background: #ffffff;">
        <nav>
            <a href="javascript:history.back()" class="atras"><img src="imagen\atras.png" alt="" class="atras"></a>
            <h1 id="titulo">Scröninger’s box</h1>
        </nav>
    </div>
    <div>
        <h1 id="titulo2">Acerca Del Sitio</h1>
    </div>
    <div style="display: flex; justify-content:center; width:100vw">
        <div id="acercade">
            <p class="parrafo1">
                Scröninger´s Box es un agregador de contenido determinado por la Box. Hablamos de una plataforma social en la que los usuarios suben Paradojas que otros usuarios pueden dar me gusta o no. Si una paradoja recibe muchos votos, sube en la clasificación de SöB y, por consiguiente, más gente puede verla en el mundo.
            </p>
            <p class="parrafo1">
                Si recibe votos a la baja, su visibilidad se reduce rápidamente y desaparece de la vista de la mayoría de los usuarios. Scröninger´s Box se divide en Boxes y tags, Cualquier usuario puede crear tags sobre cualquier tema, ya sea un asunto general, como tecnología, o específico, como una simple broma.
            </p>
            <p class="parrafo1"> 
                Cada Tag pasa a formar parte de la lista completa de Paradojas de Söb, lo cual significa que una Paradoja en cualquier Tag (a menos que sea privada) puede llegar a la página principal del sitio web o Foro mundial.
            </p>
        </div>
    </div>
</body>
</html>
