<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Box</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
    </style>
    <link rel="stylesheet" href="css/iniciosesion.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="row">
    <div  class="divcenter izquierda">
        <img class="imagen" src="imagen\LOGOproyecto.png" alt="">
    </div>
    <div class="divcenter derecha" id="inputs">
        <h1>Scröninger’s box</h1>
        <input type="email" name="User" class="usuario" id="correo" placeholder="vivo@muerto.scb">
        <input type="password" class="usuario" name="Contraseña" id="password" placeholder="introduzca Contraseña">
        <button type="submit" class="linksesion iniciosesion" id="inicio">Iniciar sesion</button>
        <button class="linksesion iniciosesion">
          <a href="registro.html" style="color: white; text-decoration: none;">Registrarse</a>  
        </button>
        <a id="forget" href="">olvidé la contraseña</a>
    </div>
  </div>
</body>
</html>