<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css\Contacto.css">
    <title>contacto</title>
</head>
<body style="display: flex; flex-direction: column; background-color: #6B5796;">
    <div style="background: #ffffff;">
        <nav>
            <a href="javascript:history.back()" class="atras"><img src="imagen\atras.png" alt="" class="atras"></a>
            <h1 id="titulo">Scröninger’s box</h1>
        </nav>
    </div>
    <div>
        <h1 id="titulo2">Contacta a los desarrolladores...</h1>
        <ul class="row">
            <ul class="columna">
                <li>Malony Jaramillo</li>
                <li>Jens Hoffmann</li>
                <li>Mariam Ortega</li>
                <li>Diego Hernandez</li>

            </ul>
            <ul class="columna">
                <li>8-969-365</li>
                <li>8-965-348</li>
                <li>3-749-1625</li>
                <li>8-976-1590</li>
            </ul>
            <ul class="columna">
                <li>+507 6212-3099</li>
                <li>+507 6382-5782</li>
                <li>+507 6208-9486</li>
                <li>+507 6059-6444</li>
            </ul>
        </ul>
    </div>
</body>
</html>