<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css\Pagina_principal.css">
    <title>Scat</title>
</head>

<body>
    <nav id="navar">
        <div class="imagen">
            <img src="imagen\logo chico.png" alt="">
            <h1 class="letra1">Scröninger’s Box</h1>
        </div>
        <input style="font-size: 2vh;" type="search" name="" id="buscar" placeholder="&#xf002; buscar">
        <div id="busqueda">
            <a class="imagen2 links" href="notification.html">
                <img src="imagen\Vector-1.png" alt="">
            </a>
            <a class="imagen2 links" href="perfil.html">
                <img src="imagen\Vector-2.png" alt="">
            </a>
            <a class="imagen2 links" href="boxes.html">
                <img src="imagen\Vector-3.png" alt="">
            </a>
            <a class="imagen2 links" href="home.html">
                <img src="imagen\Vector.png" alt="">
            </a>
            <a href="inicio de sesion.html" class="botondefault">
                <button class="botondefault">Crear Paradoja</button>
            </a>
        </div>

    </nav>
    <script src="https://kit.fontawesome.com/13f271e754.js" crossorigin="anonymous"></script>
    <div class="princerow">
        <div class="supalist space">
            <div class="tags ">
                <a href="">
                    <img src="imagen\pluss.png" alt="" class="pluss">
                </a>
                <a style="text-decoration: none" href="" class="testsss">
                    <h3 class="centrado tagnam">Tags</h3>
                </a>
            </div>
            <a href="" class="botondefault centrado">Divertido</a>
            <a href="" class="botondefault centrado">Noticias</a>
            <a href="" class="botondefault centrado">NSFW</a>
            <a href="" class="botondefault centrado">Autos</a>
            <a href="" class="botondefault centrado">Marvel</a>
        </div>
        <div class="columnaprincipal">
            <div class="boxcom">
                <div class="option">
                    <a href="" class="boxer1">
                        <img src="imagen\firetoken.png" alt="" class="imagebox">
                        <h3 class="Bopt">HOT</h3>
                    </a>
                </div>
                <div class="option">
                    <a href="" class="boxer1">
                        <img src="imagen\new.png" alt="" class="imagebox">
                        <h3 class="Bopt">NEW</h3>
                    </a>
                </div>
                <div class="option">
                    <a href="" class="boxer1">
                        <img src="imagen\Stonks.png" alt="" class="imagebox">
                        <span class="Bopt">TOP</span>
                    </a>
                </div>
            </div>
            <div>
                <div class="container">
                    <div class="left-sidebar"></div>
                        <div class="main-content">
                            <div class="post-container">
                                <div class="post-row">
                                    <div class="profile">
                                        <img src="https://global-uploads.webflow.com/60f066754425cb9b4fc5881e/61edcbf4ef42060303de89e1_mYOCuxShWc3c0QDf_LC30lfEOdQo-RK_C7gagQllAk-juO190-fIdyN7w_AZr5sIhfghBLOxcXaouxl4MBJwYbrGdcSahLsoozp5jupu9eKl87heTwtTe__tCkBDTByK_8BH0Cia.jpeg">
                                        <div>
                                        <p>labananita69</p>
                                        <span>June 24 2022, 13:40 pm</span>
                                        </div>
                                    </div>
                                </div>
                                <p class="post-text">Dicen que si miras
                                esta imagen a las 3 de la mañana entra
                                el espirito de Amber Heard a tu cuarto</p>
                                <img class="post-img" src="https://snorklol.com/wp-content/uploads/2022/05/Amber.jpg">
                                <div class="post-row">
                                    <div class="activity-icons">
                                    <div><i class="fa-regular fa-thumbs-up"></i>1k</div>
                                    <div><i class="fa-regular fa-comments"></i>100</div>
                                    <div><i class="fa-solid fa-share"></i>100</div>
                                </div>
                                <div class="post-profile-icon">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="supalist">
            <div class="right-sidebar">
                <div class="sidebar-title">
                    <h4>Boxes en las que estás y no estás</h4>
                </div>
                <div class="Comunilist">
                    <div class="comunidad-bloque">
                        <div class="comunidad">
                            <img
                                src="https://yt3.ggpht.com/Y1L8TzdsdTe30KxXrueVXL8N5W9CL3JCR0oiFtlieiTJ4p24mMiDYRNHHuS9nPawWz1vEFO0BZY=s900-c-k-c0x00ffffff-no-rj">
                        </div>
                        <p>UTP</p>
                    </div>
    
                    <div class="comunidad-bloque">
                        <div class="comunidad">
                            <img
                                src="https://yt3.ggpht.com/Y1L8TzdsdTe30KxXrueVXL8N5W9CL3JCR0oiFtlieiTJ4p24mMiDYRNHHuS9nPawWz1vEFO0BZY=s900-c-k-c0x00ffffff-no-rj">
                        </div>
                        <p>Panama</p>
                    </div>
    
                    <div class="comunidad-bloque">
                        <div class="comunidad">
                            <img
                                src="https://yt3.ggpht.com/Y1L8TzdsdTe30KxXrueVXL8N5W9CL3JCR0oiFtlieiTJ4p24mMiDYRNHHuS9nPawWz1vEFO0BZY=s900-c-k-c0x00ffffff-no-rj">
                        </div>
                        <p>Marvel</p>
                    </div>
    
                    <div class="comunidad-bloque">
                        <div class="comunidad">
                            <img
                                src="https://yt3.ggpht.com/Y1L8TzdsdTe30KxXrueVXL8N5W9CL3JCR0oiFtlieiTJ4p24mMiDYRNHHuS9nPawWz1vEFO0BZY=s900-c-k-c0x00ffffff-no-rj">
                        </div>
                        <p>Chess.com</p>
                    </div>
    
                    <div class="comunidad-bloque">
                        <div class="comunidad">
                            <img
                                src="https://yt3.ggpht.com/Y1L8TzdsdTe30KxXrueVXL8N5W9CL3JCR0oiFtlieiTJ4p24mMiDYRNHHuS9nPawWz1vEFO0BZY=s900-c-k-c0x00ffffff-no-rj">
                        </div>
                        <p>LaGruta</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <div id="botoneslink">
        <a href="paginaContacto.html" class="botondefault">
            <button class="botondefault">Pagina de contacto</button>
        </a>
        <a href="Descripciónseleccionado.html" class="botondefault">
            <button class="botondefault">Descripción de lo seleccionado</button>
        </a>
        <a href="AcercaProyecto.html" class="botondefault">
            <button class="botondefault">Acerca del Proyecto</button>
        </a>
    </div>
</footer>

</html>