<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css\Pagina_principal.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
    </style>
    <title>Register</title>
</head>
<body style="background-color:#191423; gap: 5vh;">
    <div class="titulo">
        <h1 style="color:white">Scröninger's Box</h1>
    </div>
    <div class="column">
        <form action="" class="column" id="formu">
            <input type="text" placeholder="Usuario ID" class="inputtext" id="ID_name">
            <input type="text" placeholder="Nombre de usuario" class="inputtext" id="User_name">
            <input type="email" placeholder="Correo" class="inputtext" id="correo">
            <input type="password" placeholder="Contraseña" class="inputtext" id="contrasena">
            <input type="password" placeholder="confirmar contraseña" class="inputtext" id="contrasena2">
            <input type="url" placeholder="url de perfil" class="inputtext" id="foto">
            <div style="display: flex; flex-direction:row; align-items: center;">
                <input type="checkbox" id="spoilers">
                <label for="spoilers" class="letra2">Ver spoilers</label>
            </div>
            <div style="display: flex; flex-direction:row; align-items: center;">
                <input type="checkbox" id="Mayoredad">
                <label for="Mayoredad" class="letra2">Soy Mayor</label>
            </div>
            <div class="divboton">
                <button class="botondefault2" type="submit" id="crearcuenta">Crear cuenta</button>
            </div>
        </form>
    </div>
    <div class="divfooter">
        <h2 style="color:white" class="comentariogato">Cada post es una paradoja pero no todas las paradojas son post, no hagas nada ilegal, ten cordura y paciencia. Se un buen minino</h2>
        <img class="imagen3" src="imagen\logo chico.png" alt="">
    </div>
    <script src="scripts\registro.js"></script>
</body>
</html>
